---
// import astroLogo from "../assets/astro.svg";
// import background from "../assets/background.svg";
---

<div id='container'>
  <!-- <img id='background' src={background.src} alt='' fetchpriority='high' /> -->
  <main>
    <section
      class='container mx-auto h-full w-screen justify-center items-center bg-amber-200'
    >
      <h1 class='text-3xl font-bold underline text-purple-500'>ABOUT</h1>
      <h2 class='text-9xl font-thin'>
        <span class='font-extralight'>POP</span>PINS
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
        cupiditate iste nulla, eos nihil optio eaque culpa porro dolorem
        voluptate. Labore ullam fuga quia, minima nam sed qui veniam molestiae!
      </p>
    </section>
  </main>
</div>
