---
// import { Databind } from "../components/Databind";
---

<div id='container'>
  <!-- <img id='background' src={background.src} alt='' fetchpriority='high' /> -->
  <main>
    <section class='container mx-auto w-auto p-4 items-center bg-gray-300'>
      <!-- <h1 class='text-3xl font-bold underline text-purple-500'>ABOUT</h1> -->
      <h1 class='text-4xl md:text-9xl font-thin'>
        <span class='font-extralight'>Kids</span>Bind
      </h1>
      <p>
        Kids can practice ABC's. The input text will bind the text to display
        larger text for kids learning.
      </p>
    </section>
  </main>
</div>
