---
// import astroLogo from "../assets/astro.svg";
// import background from "../assets/background.svg";
---

<div id='container'>
  <!-- <img id='background' src={background.src} alt='' fetchpriority='high' /> -->
  <header class='container mx-auto'>
    <nav>
      <ul class='flex gap-4'>
        <li><a href='/'>home</a></li>
        <li><a href='/about'>about</a></li>
      </ul>
    </nav>
  </header>
</div>
