---
import { Databind } from "../components/Databind";
---

<div class='grow'>
  <main>
    <section class='hidden container mx-auto p-8 w-auto items-center'>
      <h1 class='hidden sr-only'>Kidsbind</h1>
      <p class='hidden d-none sr-only'>
        Kids can practice ABC's or 123's. The input text will bind the text to
        display larger text for kids learning.
      </p>
    </section>
    <div class='container mx-auto p-8 font-extrabold'>
      <Databind client:load />
    </div>
  </main>
</div>
